{
    local_certs
    auto_https off
    frankenphp
    order php_server before file_server
    order php before file_server
    order request_header before rewrite
}

0.0.0.0:8100 {
    @static {
        file
        path *.ico *.css *.js *.gif *.jpg *.jpeg *.png *.svg *.woff
    }
    root * /var/www/html/
    encode br zstd gzip
    php_server
}
